html
	head
		link(href='/css/bootstrap.min.css', rel='stylesheet')
		title=title
	body(style='margin-top: 80px; margin-bottom: 80px;')
		div.container
			div.row
				div.col-md-4.offset-md-4
					div.card.border-primary(style='border-radius: 0px;')
						div.card-header.bg-primary.text-white.text-center(style='border-radius: 0px;')
							h4 Tambah Pengguna
						div.card-body
							form(method='post' action='http://localhost:3000/add/simpan')
								div.form-group.row
									label(for='username') Nama
									input.form-control(type='text', name='name')
								div.form-group.row
									label(for='password') Kontak
									input.form-control(type='text', name='contact')
								div.form-group.row
									label(for='username') Posisi
									select.form-control(name='position')
										option(value='programmer') Programmer
										option(value='staff') Staff
								div.form-group.row
									label(for='password') Username
									input.form-control(type='text', name='username')
								div.form-group.row
									label(for='password') Password
									input.form-control(type='text', name='password')
								div.text-center
									div.row
										div.col-md-6.text-center
											a.btn.btn-sm.btn-danger(href='http://localhost:3000/home', style='border-radius: 0px;') Kembali
										div.col-md-6.text-center
											button.btn.btn-sm.btn-primary(type='submit', style='border-radius: 0px;') Simpan