html
	head
		link(href='/css/bootstrap.min.css', rel='stylesheet')
		title=title
	body(style='margin-top: 120px')
		div.container
			div.row
				div.col-md-8.offset-md-2
					div.card.border-primary(style='border-radius: 0px;')
						div.card-header.bg-primary.text-white(style='border-radius: 0px;')
							div.row
								div.col-md-8.offset-md-2.text-center
									h4 Home
								div.col-md-2.text-right
									a.btn.btn-sm.btn-warning(href='http://localhost:3000/logout') Logout
						div.card-body
							p Selamat datang
							h5=user['nama']